CompileFlags:
  Add: [
    "-std=c++23",
    "-Isrc",
    "-Wall",
    "-Wextra",
    "-Wno-missing-field-initializers"
  ]
Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [bugprone-*, performance-*, readability-*]
    Remove: [readability-redundant-access-specifiers, readability-braces-around-statements]

If:
  Platform: linux
CompileFlags:
  CompilationDatabase: build
  Compiler: /usr/bin/g++

If:
  Platform: windows
CompileFlags:
  CompilationDatabase: build
  Add: [
    "--query-driver=C:/msys64/ucrt64/bin/g++.exe",
    "--target=x86_64-w64-windows-gnu",
    "-fms-compatibility",
    "-fcolor-diagnostics"
  ]